* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #a9aeb8;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.languages-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.languages-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.languages-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.languages-text {
  color: #d8dadd;
}

.education-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.education-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.education-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #dedfe2;
  margin-left: 15px;
  color: #ff6b08;
}

.education-text {
  color: #d8dadd;
}

.education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}

.profession {
  font-size: 30px;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 60px;
  font-weight: 700;
  line-height: 89px;
}

.info-container {
  margin-bottom: 85px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.résumé-container {
  margin-bottom: 55px;
}

.résumé-text {
  font-size: 18px;
  color: #0e0e0e;
}

.skills-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}

.skills-time {
  color: #a9aeb8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}

.skills-container {
  margin-bottom: 55px;
}

.skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
}

.skills-text {
  color: #0e0e0e;
}

.courses-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
}

.courses-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
